.contenedor-carrito {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    width: 60vw;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    user-select:none;
    letter-spacing: 1.2px;
}
.table-cart{
    background-color: rgb(191 44 51 / 78%);
    border-radius: 20px 20px 0px 20px;
    padding: 30px 0px 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select:none;
}

.text-center{
    text-align: center;
}

.button-removeProduct{
    border-radius: 45%;
    border: none;
    text-align: center;
}
.carrito-vacio{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(191 44 51 / 78%);
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    user-select:none;
}


.cont-totalPagar{
    background-color: #621111b8;
    font-weight: bold;
    font-size: 17px;
    width: 20vw;
    margin: 0px 0px 0px auto;
    border-radius: 0px 0px 20px;
    position: relative;
    height: 40px;
    letter-spacing: 1px;
    border: none;
    border-top:2px solid rgb(0,0,0) ;
}
.cont-totalPagar::before{
    content:'';
    position: absolute;
    left: -49.4px;
    top: -2px;
    box-sizing: border-box;
    width: 50px;
    height:42px;
    background-color: inherit;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    border-top: 2px solid rgb(0,0,0);

}
.totalPagar{
    margin: 10px 25px;
}
