.header {
  height: 140px;
  width: 100vw;
  background: rgb(191 44 51 / 78%);
  box-shadow: 2px 2px 5px #121212;
  -webkit-box-shadow: 2px 2px 5px #121212;
  -moz-box-shadow: 2px 2px 5px #121212;
  user-select:none;
}

.header-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 80vw;
  height: 140px;
  margin: 0 auto;
}

.logo {
  display: flex;
  height: 150px;
  align-items: center;
}

.logImagen {
  height: 100px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 2px 2px 5px #121212;
  -webkit-box-shadow: 2px 2px 5px #121212;
  -moz-box-shadow: 2px 2px 5px #121212;
}

.buton-header {
  border-radius: 10px;
  padding: 4px;
  margin-bottom: 70px;
  border: none;
  color: rgba(0, 0, 0, 0.806);
  background: rgb(255, 253, 254);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 10px;
  box-shadow: 2px 2px 2px #121212;
  -webkit-box-shadow: 2px 2px 2px #121212;
  -moz-box-shadow: 2px 2px 2px #121212;
  
}