.product-cont{
    width: 350px;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 12px;
    background-color: rgb(199 15 15 / 46%);
}
.product-title{
    text-align: center;
    margin: 3px ;
}
.caracteristicas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}
.caracteristicas p{
    margin: 0px;
}