.product-cont {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 250px;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 12px;
    background-color: rgb(199 15 15 / 46%);
    position: relative;
}
.logoOferta{
    position: absolute;
    
    left:-15px;
    top: 35px;
    z-index: 5000;
}
.logoOferta-img{
    width: 100px;
    height: 100px;
}

.producttitle {
    text-align: center;
    margin: 3px;
    font-size: 18px;
    letter-spacing: 2px;
    user-select:none;  
    text-transform: capitalize;
}

.caracteristicas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.caracteristicas p {
    margin: 0px;
    user-select:none;
}

.descripcionCorta {
    font-size: 16px;
    text-align: center;
    user-select:none;
}

.precio {
    font-weight: bold;
    font-size: 23px;
    user-select:none;
}

.contenedor-stock {
    display: flex;
    flex-direction: column;
    user-select:none;
}

.stock {
    font-size: 14px;
    letter-spacing: 1px;
}

.errorModal {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.form-cantidad {
    display: flex;
    justify-content: flex-start;
    border-radius: 12px;
    margin: 20px 0px 15px 15px;
    user-select:none;
}

.form-cantidad input {
    width: 35px;
    text-align: center;
    font-size: 12px;
    border: none;
    border: 1px solid rgba(36, 4, 4, 0.655);
}

.form-cantidad button{
    width: 35px;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 0px 12px 12px 0px;
    cursor: pointer;

}

.form-cantidad button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(209, 11, 11, 0.24);
}
.green{
    color: #064d04; 
}
.remove-product{
    color: #8c0707;
    cursor: pointer;
    height: 20px;
    width: 30px;
}
.remove-product:active{
    transform: scale(0.2);
}