.modal {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    user-select:none;
}

.modal.is-open {
    display: flex;
}

.modal-container {
    z-index: 2500;
    position: relative;
    padding: 1rem;
    min-width: 500px;
    max-width: 600px;
    background-color: #ffffff;
    min-height: 500px;
    max-height: 600px;
    overflow-y: auto;
}
.modal-error{
    z-index: 2500;
    position: relative;
    padding: 1rem;
    min-width: 500px;
    max-width: 600px;
    background-color: #ffffff;
    min-height: 100px;
    max-height: 120px;
    overflow-y: auto;
}

.modal-container>img {
    object-fit: scale-down;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* slider en el modal */

.Modal_containerStyle{
    width: 500px;
    height: 500px;
    margin: 10px auto 30px;  
}
/* estilo para agregar flechas. */
.Modal_sliderContainControl{
    height: 100%;
    position: relative;
}
/* estilo flecha derechas */
.Modal_leftArrowStyle{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 0px;
    font-size: 15px;
    color: #000000;
    z-index: 1;
    cursor: pointer;
    padding: 80px 0px 80px 25px;
}

/* estilo flecha izquierda */
.Modal_rightArrowStyle{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 0px;
    font-size: 15px;
    color: #000000;
    z-index: 1;
    cursor: pointer;
    padding: 80px 25px 80px 0;
}